* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
/* ------------------------------------- */
.promo {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    background-color: #000;
}
.promo p {
    width: 90%;
    font-size: 13px;
    color: #fff;
    text-align: center;
}
.promo span {
    width: 10%;
    color: #fff;
    font-size: 15px;
    padding-right: 1rem;
}
/* ----------------- ESTILO HEADER CON NAV LIST ---------------------- */
.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.header .navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header .navbar .hamburger  {
    display: none;
}
.navbar .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav-list img {
    margin-right: 2rem;
    transition: 1.2s ease;
}
.nav-list img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.nav-list .item {
    margin-right: 2rem;
}
.nav-list li a {
    color: #000;
    font-size: 1.6rem;
    text-decoration: none;
    margin-right: 1rem;
    margin-left: 2rem;
}
/* ---------------------------------------------------- */
.search {
    width: 58rem;
    height: 5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1.4rem;
    border: 0.4rem solid rgba(128, 128, 128, 0.011);
    border-radius: 2.3rem;
    background-color: #F0F0F0;
}
.search input {
    width: 52rem;
    height: 5rem;
    border-radius: 2.3rem;
    padding-left: 1rem;
    border: none;
    outline: none;
    background-color: #F0F0F0;
    font-size: 1.6rem;
}
.cart-user {
    width: 20rem;
    height: 4rem;
    display: flex;
    justify-content: start;
    align-items: center;
}
.cart-user .lupa {
    display: none;
}
.cart-user img {
    margin-right: 2rem;
}
.cart-user img:hover {
    box-shadow: 0 6px 16px #a3a3a3;
    cursor: pointer;
}
.separador-productos {
    width: 80%;
    height: 0.5px;
    margin-top: 7rem;
    margin: 0 auto;
    background-color: #d3d2d246;
}
/* -------------------------------------------------------------- */
.contenedor-navlist_products {
    width: 90%;
    height: 5rem;
    margin: 0 auto;
}
.nav-list_products {
    width: 100%;
    display: flex;
}
.nav-list_products li {
    list-style: none;
    margin: 1.5rem 1rem 0 2rem;
}
.nav-list_products li a {
    text-decoration: none;
    font-size: 1.6rem;
    padding-right: 1rem;
    color: rgba(0, 0, 0, 0.6);
}
/* ---------------------------//---------------------------//--------------------------- */
.contenedor-principal_cart {
    width: 90%;
    margin: 0 auto;
    height: 750px;
}
.contenedor-principal_cart h2 {
    width: 90%;
    font-size: 4rem;
    margin-bottom: 3rem;
}
.contenedor-principal_cart .contenedor {
    display: flex;
    margin: 0 auto;
}
.contenedor-bolsa_cart {
    width: 60%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 3rem;
    border-radius: 2rem;
}
.contenedor-card_bolsa {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}
.contenedor-card_bolsa .contenedor-img_bolsa {
    display: flex;
}
.contenedor-img_bolsa img {
    width: 134px;
    height: 164px;
    border-radius: 8px;
    margin-right: 1.5rem;
}
.contenedor-img_bolsa div h1 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}
.contenedor-img_bolsa div p {
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
}
.contenedor-img_bolsa div .par {
    margin-bottom: 6rem;
}
.contenedor-img_bolsa div span {
    font-size: 2.4rem;
    font-weight: 800;
}
/* ---------------------- */

.contenedor-agregar_cant .img_cart {
    margin-bottom: 9rem;
    margin-left: 8rem;
}
.contenedor-agregar_cant .img_cart:hover {
    box-shadow: 0 2px 11px #7c7c7c;
    cursor: pointer;
    border-radius: 5px;
}
.contenedor-cantidad_agregar {
    width: 100%;
    display: flex;
}
.agregar_cantidad {
    width: 11rem;
    height: 4.2rem;
    background-color: rgba(240, 240, 240, 1);
    border-radius: 6.2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 0rem;
}
.agregar_cantidad .disminuir {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}
.agregar_cantidad .disminuir img {
    width: 18px;
}
.agregar_cantidad span {
    font-size: 1.6rem;
}
.agregar_cantidad .aumentar {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}
.agregar_cantidad .aumentar img {
    width: 18px;
}
.agregar_cantidad .disminuir:hover, .agregar_cantidad .aumentar:hover {
    background-color: rgb(221, 219, 219);
    border-radius: 3px;
}
/* --------- SEPARADOR --------------- */
.separador_filtros {
    width: 90%;
    margin: 0 auto;
    border: 0.6px solid rgba(128, 128, 128, 0.253);
    margin: 1.5rem 0;
}
/* ---------------------- */
.contenedor-pagar_cart {
    width: 37%;
    height: 46rem;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 3rem;
    border-radius: 2rem;
}
.contenedor-pagar_cart .titulo_pago {
    font-size: 2.6rem;
    margin-bottom: 1rem;
}
.contenedor_subtotal {
    width: 100%;
}
.contenedor_subtotal .valor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenedor_subtotal .valor p {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 2rem;
}
.contenedor_subtotal .valor span {
    font-weight: 900;
    font-size: 2rem;
}
.total_pago {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}
.total_pago p {
    font-size: 2rem;
    color: #000;
}
.total_pago span {
    font-size: 2.4rem;
    font-weight: 900;
}
/* -------------------- */
.cont_aplicar {
    width: 100%;
    height: 4.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    border-radius: 6.2rem;
    
    margin-bottom: 3rem;
}
.cont_aplicar div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont_aplicar input {
    width: 326px;
    height: 4.8rem;
    margin-left: 0.5rem;
    border-radius: 6.2rem;
    border: none;
    outline: none;
    font-size: 1.6rem;
    background-color: rgba(240, 240, 240, 1);
}
.cont_aplicar button {
    width: 119px;
    height: 48px;
    border-radius: 6.2rem;
    background-color: #000;
    color: #fff;
}
.red-pago {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red-pago button {
    width: 457px;
    height: 60px;
    border-radius: 6.2rem;
    background-color: #000;
    border: none;
    color: #fff;
    font-size: 1.6rem;
}
.red-pago img {
    margin-left: 1rem;
    width: 17px;
    filter: invert(1);
}
.contenedor-noticias {
    max-width: 1200px;
    margin: 0 auto 0px;
    padding: 40px 60px;
    background-color: #000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    position: relative;
    top: 90px;
}
.contenedor-titulo {
  max-width: 480px;
  width: 100%;
  height: auto;
  display: block;
}
.contenedor-input_noticias {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 360px;
}
.contenedor-input_email {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #fff;
  padding: 14px 18px;
  border-radius: 999px;
}
.contenedor-input_email img {
  width: 18px;
  height: 18px;
}
.contenedor-input_email input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}
.contenedor-input_noticias button {
  padding: 14px 18px;
  border-radius: 999px;
  border: none;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contenedor-input_noticias button:hover {
  background-color: #eaeaea;
}

/* ------------------------------------------- */

/* ------------------ ESTILOS CONTENEDOR FOOTER ------------------- */

.contenedor-principal_footer {
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(240, 240, 240, 1);
}
.contenedor-info_footer {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 14rem;
}
.info_1 {
    height: 230px;
    width: 270px;
    margin-right: 10rem;
}
.info_1 img {
    margin-bottom: 4rem;
    width: 255px;
}
.info_1 p {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    color: rgba(0, 0, 0, 0.6);
}
.info_1 .social_info {
    width: 190px;
    margin-bottom: 4rem;
}
.info_1 h2 {
    font-size: 1.6rem;
    text-align: start;
    margin-bottom: 2rem;
    color: rgba(0, 0, 0, 1);
}
.separador-footer {
    margin-top: 2rem;
    width: 80%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 0.5px solid rgba(0, 0, 0, 0.1)
}
/* -------------------- */

.contenedor-info_pagos {
    width: 74%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}
.copyright {
    font-size: 14px;
    display: flex;
    justify-content: start;
}



/* --------------------- RESPONSIVE -------------------- */

@media (max-width: 768px) {
    .promo {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
.promo p {
    width: 90%;
    font-size: 13px;
    color: #fff;
}
.promo span {
    display: none;
}
/* ----------------- ESTILO HEADER CON NAV LIST ---------------------- */
.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
    .header .navbar {
        width: 90%;
        display: flex;
        align-items: center;
    }
.header .navbar .hamburger {
    width: 50px;
    height: 40px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}
.header .navbar .hamburger span {
    border: 1px solid #000;
    width: 35px;
    height: 5px;
    margin-bottom: 2px;
    display: inline-block;
    flex-direction: column;
    display: flex;
    margin-bottom: 3px;
    background-color: #000;
}
.nav-list li {
    display: none;
}
.nav-list img {
    margin-right: 2rem;
    transition: 1.2s ease;
}
.search {
    display: none;
}
.search input {
    display: none;
}
.cart-user {
    width: 20rem;
    height: 4rem;
    display: flex;
    justify-content: start;
    align-items: center;
}
.cart-user .lupa {
    display: flex;
}
.cart-user img {
    margin-right: 2rem;
}
.separador-productos {
    width: 90%;
    height: 0.5px;
    margin-top: 7rem;
    margin: 0 auto;
    background-color: #d3d2d246;
}
/* ----------------------------------------- */
.contenedor-principal_cart h2 {
    width: 90%;
    font-size: 3rem;
    margin-bottom: 3rem;
}
.contenedor-principal_cart .contenedor {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}
.contenedor-bolsa_cart {
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 2rem;
}
.contenedor-img_bolsa img {
    width: 120px;
    height: 155px;
    border-radius: 8px;
    margin-right: 1.5rem;
}
.contenedor-img_bolsa div h1 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.contenedor-img_bolsa div .par {
    margin-bottom: 4rem;
}
.contenedor-img_bolsa div span {
    font-size: 2rem;
    font-weight: 800;
}
.contenedor-agregar_cant {
    width: 9.6rem;
}
.contenedor-agregar_cant .img_cart {
    margin-bottom: 9rem;
    margin-left: 6rem;
}
.agregar_cantidad {
    width: 10rem;
    height: 3.2rem;
    background-color: rgba(240, 240, 240, 1);
    border-radius: 6.2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 0rem;
}
.agregar_cantidad .disminuir img {
    width: 15px;
}
.agregar_cantidad .aumentar img {
    width: 15px;
}
    .contenedor-pagar_cart {
        width: 100%;
        height: 41rem;
        /* margin: 0 auto; */
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 1rem;
        border-radius: 2rem;
        margin-top: 1.3rem;
    }
.contenedor-pagar_cart .titulo_pago {
    font-size: 2.3rem;
    margin-bottom: 1rem;
}
.total_pago {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.cont_aplicar {
    width: 100%;
    height: 4.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 2rem; */
    border-radius: 6.2rem;
    margin-bottom: 2rem;
}
.cont_aplicar input {
    width: 207px;
    height: 4.8rem;
    margin-left: 0.5rem;
    border-radius: 6.2rem;
    border: none;
    outline: none;
    font-size: 1.6rem;
    background-color: rgba(240, 240, 240, 1);
    padding-left: 1rem;
}
.cont_aplicar button {
    width: 95px;
    height: 48px;
    border-radius: 6.2rem;
    background-color: #000;
    color: #fff;
}
.contenedor-noticias {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto 0px;
        padding: 4px 6px;
        background-color: #000;
        border-radius: 20px;
        display: flex;
        /* align-items: center; */
        /* justify-content: space-between; */
        gap: 10px;
        position: relative;
        top: 355px;
        flex-direction: column;
    }
    .contenedor-titulo {
    max-width: 480px;
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
    padding-top: 1rem;
}
.contenedor-input_email {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #fff;
    padding: 14px 18px;
    border-radius: 999px;
    width: 300px;
    margin: auto;
}
.contenedor-input_noticias button {
    padding: 14px 18px;
    border-radius: 999px;
    border: none;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 300px;
    margin: auto;
    margin-bottom: 1rem;
}
.contenedor-principal_footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(240, 240, 240, 1);
    margin-top: 24rem;
}
.contenedor-info_footer {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14rem;
    flex-direction: column;
}
.contenedor-info_pagos {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    flex-direction: column;
}
.copyright {
    font-size: 14px;
    display: flex;
    justify-content: start;
    margin-bottom: 1rem;
}
}
