* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
/* ------------------------- */
.contenedor_aside {
    width: 20%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    
}
.contenedor_aside h2 {
    font-size: 2rem;
    font-weight: bold;
}
.contenedor-filtro_estilo {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 4rem;
}
/* --------- SEPARADOR --------------- */
.separador_filtros {
    width: 90%;
    margin: 0 auto;
    border: 0.6px solid rgba(128, 128, 128, 0.253);
    margin: 1rem 0;
}
/* ---------------------- */
.contenedor-filtro-estilo_seleccion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contenedor-filtro-estilo_seleccion p {
    width: 90%;
    padding-bottom: 1rem;
    margin: 0 auto;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
}
.contenedor-filtro-estilo_seleccion p:hover {
    cursor: pointer;  
    text-shadow: 0 2px 10px #737272; 
}
.contenedor-filtro-estilo_seleccion img {
    padding-bottom: 1rem;
}
/* ----------------------------------------------- */
.contenedor-filtro_precio {
    width: 100%;
}
.contenedor-filtro_precio .icon_precio {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.contenedor-filtro_precio .icon_precio img {
    width: 1.6rem;
    height: 1.1rem;
}
.contenedor-filtro_precio .rango_precio {
    width: 90%;
    margin: 0 auto;
    margin-left: 1rem;
}
.contenedor-filtro_precio input[type="range"] {
    width: 90%;
    height: 3rem;
}
.contenedor-filtro_precio .rango_precio .precios {
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
}
/* -------------------- */
.contenedor-filtro_colores {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.contenedor-filtro_colores img {
     width: 1.6rem;
    height: 1.1rem;
}
.contenedor-filtro-colores_estilo {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
}
.contenedor-filtro-colores_estilo .contenedor_colores {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor_colores .col {
    display: inline-block;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    margin-right: 13px;
    margin-bottom: 1.3rem;
}
.contenedor_colores .col:hover {
    box-shadow: 0 2px 11px #000;
    cursor: pointer;
}
.verde {
    background-color: rgba(0, 193, 43, 1);
} 
.rojo {
    background-color: rgba(245, 6, 6, 1);
}
.amarillo {
    background-color: rgba(245, 221, 6, 1);
}
.naranja {
    background-color: rgba(245, 121, 6, 1);
}
.azul-claro {
    background-color: rgba(6, 202, 245, 1);
}
.azul-oscuro { 
    background-color: rgba(6, 58, 245, 1);
}
.morado {
    background-color: rgba(125, 6, 245, 1);
}
.fucsia {
    background-color: rgba(245, 6, 164, 1);
}
.blanco {
    background-color: #fff;
    border: 0.4px solid rgba(0, 0, 0, 0.2);
}
.negro {
    background-color: rgba(0, 0, 0, 1);
}
/* ---------------------------------------- */

.contenedor-filtro_medidas {
    width: 90%;
}
.contenedor_medidas {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 auto;
    height: auto;
    margin-top: 1.5rem;
}
.titulo-size {
    margin-left: 1.5rem;
}
.contenedor_medidas span {
    background-color: rgba(240, 240, 240, 1);
    padding: 1rem 2rem;
    border-radius: 6.2rem;
    font-size: 1.4rem;
    margin-top: 0.5rem;
}
.contenedor_medidas span:hover {
    cursor: pointer;  
    box-shadow: 0 2px 10px #737272;
}
.contenedor_medidas .medida_b {
    background-color: #000;
    color: #fff
}
.contenedor-estilo_sel {
    width: 90%;
    margin: 0 auto;
}
.contenedor-estilo_sel .estilo_sel {
    width: 90%;
}
.estilo_sel p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.6);
}
.estilo_sel p:hover {
    cursor: pointer;  
    text-shadow: 0 2px 10px #737272;
}
.estilo_sel img {
    margin: 1rem 0;
}
.btn_filtros {
    width: 247px;
    height: 48px;
    border-radius: 62px;
    border: none;
    background-color: #000;
    color: #fff;
    margin-top: 2rem;
}
.btn_filtros:hover {
    cursor: pointer;  
    box-shadow: 0 2px 10px #737272;
}

/* ------------------- RESPONSIVE ------------------- */

@media (max-width:768px) {
    .contenedor_aside {
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    margin: auto;
}
.filter_hidden {
    display: none;
}
}