* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
/* ------------------------------------- */
.promo {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    
    background-color: #000;
}
.promo p {
    width: 90%;
    font-size: 13px;
    color: #fff;
    text-align: center;
}
.promo span {
    width: 10%;
    color: #fff;
    font-size: 15px;
    padding-right: 1rem;
}
/* --------------------------------------- */
.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.header .navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav-list img {
    margin-right: 2rem;
}
.nav-list .item {
    margin-right: 2rem;
}
.nav-list li a {
    color: #000;
    font-size: 1.6rem;
    text-decoration: none;
    margin-right: 1rem;
    margin-left: 2rem;
}
/* ---------------------------------------------------- */
.search {
    width: 58rem;
    height: 5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1.4rem;
    border: 0.4rem solid rgba(128, 128, 128, 0.011);
    border-radius: 2.3rem;
    background-color: #F0F0F0;
}
.search input {
    width: 52rem;
    height: 5rem;
    border-radius: 2.3rem;
    padding-left: 1rem;
    border: none;
    outline: none;
    background-color: #F0F0F0;
    font-size: 1.6rem;
}
.cart-user {
    width: 20rem;
    height: 4rem;
    display: flex;
    justify-content: start;
    align-items: center;
}
.cart-user img {
    padding-right: 2rem;
}
/* ------------------------------------------------- */

.contenedor-portada {
    width: 100%;
    height: 66rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F0F1;
}
.contenedor-portada_izquierda {
    width: 50%;
    margin: 0 auto;
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start; */
    flex-direction: column;
}
.contenedor-portada_izquierda .portada-izquierda_img {
    width: 600px;
    margin: 0 0 2.5rem 12rem;
}
.contenedor-portada_izquierda p {
    font-size: 16px;
    margin: 0 0 2.5rem 12rem;
}
.contenedor-portada_izquierda a {
    width: 180px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border-radius: 22px;
    font-size: 16px;
    text-align: center;
    margin: 0 0 4rem 12rem;
    /* list-style: none; */
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
}
.contenedor-valores {
    width: 100%;
    display: flex;
    /* justify-content: flex-start; */
    /* align-items: center; */
    align-content: center;
    /* flex-direction: column; */
}
.valores {
    width: 30%;
    height: 8rem;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-left: 12rem;
    /* margin: 0 auto; */
    flex-direction: column;
}
.valores span {
    font-size: 1.6rem;
    margin-top: 0.8rem;
}
.contenedor-valores .separador {
    width: 1px;
    height: 80px;
    background-color: #a09f9f;
}
/* ---------------------------------- */

.contenedor-portada_derecha {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-portada_derecha img {
    width: 440px;
}
.contenedor-portada_derecha .img-estrella_derecha {
    width: 60px;
    position: absolute;
    top: 350px;
    right: 600px;
}
.contenedor-portada_derecha .img-estrella-med_derecha {
    width: 90px;
    position: absolute;
    top: 180px;
    right: 220px;
}
/* ------------------------------------------ */

/* ------------------ ESTILOS CONTENEDOR MARCAS ------------------- */
.contenedor-marcas {
    width: 100%;
    height: 12.2rem;
    gap: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
.contenedor-marcas .marca img {
    width: 14rem;
}
.contenedor-marcas .marcaS img {
    width: 9rem;
}
/* ------------------------------------------- */

/* ------------------ ESTILOS CONTENEDOR NEW ARRIVALS ------------------- */

.contenedor-productos {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
}
.contenedor-productos h1 {
    font-size: 4.8rem;
    font-weight: bold;
    margin: 6rem 0;
}
.contenedor-cards_arrivals {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
}
.contenedor-card {
    text-align: left;
    margin-bottom: 5rem;
}
.imagen-producto {

    width: 320px;
    background: #F0F0F0;
    border-radius: 16px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.imagen-producto img {
    width: 320px;
    height: auto;
}
.contenedor-card p {
    font-size: 2rem;
    margin-bottom: 0.4rem;
}
.valoracion {
    font-size: 0.9rem;
    color: #f5a623;
    margin-bottom: 0.5rem;
}
.valoracion span {
    color: #777;
    margin-left: 4px;
    font-size: 1.4rem;
}
.precio {
    font-size: 2.4rem;
    font-weight: bold;
}
.precio .precio-anterior {
    font-weight: 400;
    color: #aaa;
    text-decoration: line-through;
    margin-left: 6px;
}
.descuento {
    background: #ffe5e5;
    color: #d9534f;
    font-size: 1.2rem;
    padding: 2px 8px;
    border-radius: 23rem;
    margin-left: 6px;
}
.btn-arrivals {
    width: 200px;
    height: 50px;
    color: #000;
    border-radius: 30px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    border: 1px solid #8080804d;
}
/* -------------------------------------- */
.separador-productos {
    width: 100%;
    height: 0.5px;
    margin-top: 6rem;
    background-color: #d3d2d246;
}






































































































/* --------------------- */
/* .navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        position: absolute;
        top: 15px;
        left: 300px;
        z-index: 1;
    }

    .hamburger span {
        width: 28px;
        height: 2.4px;
        background: #fff;
        border-radius: 3px;
        transition: 0.3s ease;
    }
    .nav-list {
        position: absolute;
        top: -15px;
        left: 150px;
        background: rgba(0, 0, 0, 0.85);
        width: 90%;
        flex-direction: column;
        padding: 10px;
        display: none;
        border-radius: 10px;
        backdrop-filter: blur(6px);
    }

    .nav-list li a {
        color: white;
        font-size: 1.5rem;
        text-decoration: none;
    }
    .nav-list.active {
        display: flex;
        position: relative;
        gap: 2rem;
        background-color: #0000005e;
        top: 90px;
        left: -44px;
        background: #000;
        width: 100%;
        flex-direction: column;
        padding: 10px;
        border-radius: 10px;
        backdrop-filter: blur(6px);
        justify-content: center;
        align-items: center;
    }
    .hamburger.open span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    } */