* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
/* ------------------------------------- */
.promo {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    
    background-color: #000;
}
.promo p {
    width: 90%;
    font-size: 13px;
    color: #fff;
    text-align: center;
}
.promo span {
    width: 10%;
    color: #fff;
    font-size: 15px;
    padding-right: 1rem;
}
/* --------------------------------------- */
.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.header .navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav-list img {
    margin-right: 2rem;
}
.nav-list .item {
    margin-right: 2rem;
}
.nav-list li a {
    color: #000;
    font-size: 1.6rem;
    text-decoration: none;
    margin-right: 1rem;
    margin-left: 2rem;
}
/* ---------------------------------------------------- */
.search {
    width: 58rem;
    height: 5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1.4rem;
    border: 0.4rem solid rgba(128, 128, 128, 0.011);
    border-radius: 2.3rem;
    background-color: #F0F0F0;
}
.search input {
    width: 52rem;
    height: 5rem;
    border-radius: 2.3rem;
    padding-left: 1rem;
    border: none;
    outline: none;
    background-color: #F0F0F0;
    font-size: 1.6rem;
}
.cart-user {
    width: 20rem;
    height: 4rem;
    display: flex;
    justify-content: start;
    align-items: center;
}
.cart-user img {
    padding-right: 2rem;
}
/* ------------------------------------------------- */

.contenedor-portada {
    width: 100%;
    height: 66rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F0F1;
}
.contenedor-portada_izquierda {
    width: 50%;
    margin: 0 auto;
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start; */
    flex-direction: column;
}
.contenedor-portada_izquierda .portada-izquierda_img {
    width: 600px;
    margin: 0 0 2.5rem 12rem;
}
.contenedor-portada_izquierda p {
    font-size: 16px;
    margin: 0 0 2.5rem 12rem;
}
.contenedor-portada_izquierda a {
    width: 180px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border-radius: 22px;
    font-size: 16px;
    text-align: center;
    margin: 0 0 4rem 12rem;
    /* list-style: none; */
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
}
.contenedor-valores {
    width: 100%;
    display: flex;
    /* justify-content: flex-start; */
    /* align-items: center; */
    align-content: center;
    /* flex-direction: column; */
}
.valores {
    width: 30%;
    height: 8rem;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-left: 12rem;
    /* margin: 0 auto; */
    flex-direction: column;
}
.valores span {
    font-size: 1.6rem;
    margin-top: 0.8rem;
}
.contenedor-valores .separador {
    width: 1px;
    height: 80px;
    background-color: #a09f9f;
}
/* ---------------------------------- */

.contenedor-portada_derecha {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-portada_derecha img {
    width: 440px;
}
.contenedor-portada_derecha .img-estrella_derecha {
    width: 60px;
    position: absolute;
    top: 350px;
    right: 600px;
}
.contenedor-portada_derecha .img-estrella-med_derecha {
    width: 90px;
    position: absolute;
    top: 180px;
    right: 220px;
}
/* ------------------------------------------ */

/* ------------------ ESTILOS CONTENEDOR MARCAS ------------------- */
.contenedor-marcas {
    width: 100%;
    height: 12.2rem;
    gap: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
.contenedor-marcas .marca img {
    width: 14rem;
}
.contenedor-marcas .marcaS img {
    width: 9rem;
}
/* ------------------------------------------- */

/* ------------------ ESTILOS CONTENEDOR NEW ARRIVALS ------------------- */

.contenedor-productos {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
}
.contenedor-productos h1 {
    font-size: 4.8rem;
    font-weight: bold;
    margin: 6rem 0;
}
.contenedor-cards_arrivals {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
}
.contenedor-card {
    text-align: left;
    margin-bottom: 5rem;
}
.imagen-producto {

    width: 320px;
    background: #F0F0F0;
    border-radius: 16px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.imagen-producto img {
    width: 320px;
    height: auto;
}
.contenedor-card p {
    font-size: 2rem;
    margin-bottom: 0.4rem;
}
.valoracion {
    font-size: 0.9rem;
    color: #f5a623;
    margin-bottom: 0.5rem;
}
.valoracion span {
    color: #777;
    margin-left: 4px;
    font-size: 1.4rem;
}
.precio {
    font-size: 2.4rem;
    font-weight: bold;
}
.precio .precio-anterior {
    font-weight: 400;
    color: #aaa;
    text-decoration: line-through;
    margin-left: 6px;
}
.descuento {
    background: #ffe5e5;
    color: #d9534f;
    font-size: 1.2rem;
    padding: 2px 8px;
    border-radius: 23rem;
    margin-left: 6px;
}
.btn-arrivals {
    width: 200px;
    height: 50px;
    color: #000;
    border-radius: 30px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    border: 1px solid #8080804d;
    margin-bottom: 1rem;
}
/* -------------------------------------- */
.separador-productos {
    width: 100%;
    height: 0.5px;
    margin-top: 6rem;
    background-color: #d3d2d246;
}
/* ------------------------------------------- */

/* ------------------ ESTILOS CONTENEDOR BROWSE BY dress STYLE ------------------- */

.contenedor-estilo {
    width: 100%;
    height: auto;
}
.contenedor-estilo h1 {
    font-size: 4.8rem;
    text-align: center;
    margin: 5rem;
    padding-top: 5rem;
}

.contenedor-items {
    width: 80%;
    height: 866px;
    margin: 0 auto;
    background-color: rgba(240, 240, 240, 1);
    border-radius: 4rem;
}
.contenedor-estilo_arriba {
    width: 90%;
    display: flex;
    margin: auto;
}
.contenedor-estilo_arriba div {
    margin: 0 auto;
    padding: 1rem 0;
}
.item-arriba_izquierdo {
    width: 40%;
    height: 300px;
    margin-right: 2rem;
}
.item-arriba_derecha {
    width: 60%;
    height: 300px;
}
/* --------------------------- */

.contenedor-estilo_abajo {
    width: 90%;
    display: flex;
    margin: auto;
}
.contenedor-estilo_abajo div {
    margin: 0 auto;
    padding: 1rem 0;
}
.item-abajo_izquierdo {
    width: 60%;
    height: 300px;
    margin-right: 2rem;
}
.item-abajo_derecha {
    width: 40%;
    height: 300px;
}

/* ------------------------------------------- */

/* ------------------ ESTILOS CONTENEDOR CUSTOMERS ------------------- */

.contenedor-opiniones {
    width: 100%;
    height: 370px;
}
.contenedor-titulo_icon {
    width: 80%;
    height: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 6rem;
}
.contenedor-principal_opinion {
    width: 100%;
    height: 250px;
}
.contenedor-card_customers {
    width: 100%;
    height: 25rem;
    display: flex;
    flex-wrap: nowrap;     
    gap: 2rem;
    overflow-x: auto;    
    overflow-y: hidden;
    padding: 2rem;
}
.card-customers {
    width: 350px;
    min-width: 350px;      
    height: 200px;
    flex-shrink: 0;         
    background-color: #fff;
    border-radius: 8px;
    padding: 2rem;
    border: 1px solid rgba(128, 128, 128, 0.175);
}
.card-customers h2 {
    margin-top: 1rem;
    font-size: 2rem;
}
.card-customers p {
    margin-top: 1rem;
    font-size: 1.6rem;
}
.card-customers .valoracion-usuario {
    margin-left: 1rem;
}

/* ------------------------------------------- */

/* ------------------ ESTILOS CONTENEDOR NOTICIAS ------------------- */

.contenedor-noticias {
    max-width: 1200px;
    margin: 0 auto 0px;
    padding: 40px 60px;
    background-color: #000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    position: relative;
    top: 90px;
}
.contenedor-titulo {
  max-width: 480px;
  width: 100%;
  height: auto;
  display: block;
}
.contenedor-input_noticias {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 360px;
}
.contenedor-input_email {
  display: flex;
  align-items: center;
  gap: 12px;

  background-color: #fff;
  padding: 14px 18px;
  border-radius: 999px;
}
.contenedor-input_email img {
  width: 18px;
  height: 18px;
}
.contenedor-input_email input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}
.contenedor-input_noticias button {
  padding: 14px 18px;
  border-radius: 999px;
  border: none;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contenedor-input_noticias button:hover {
  background-color: #eaeaea;
}

/* ------------------------------------------- */

/* ------------------ ESTILOS CONTENEDOR FOOTER ------------------- */

.contenedor-principal_footer {
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(240, 240, 240, 1);
}
.contenedor-info_footer {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 14rem;
}
.info_2 {
    height: 230px;
    width: 270px;
}
.info_2 img {
    margin-bottom: 4rem;
    width: 255px;
}
.info_2 p {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    color: rgba(0, 0, 0, 0.6);
}
.info_2 .social_info {
    width: 190px;
    margin-bottom: 4rem;
}
.info_1 h2 {
    font-size: 1.6rem;
    text-align: start;
    margin-bottom: 2rem;
    color: rgba(0, 0, 0, 1);
}
.column {
  display: flex;
}
.separador-footer {
    margin-top: 2rem;
    width: 80%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 0.5px solid rgba(0, 0, 0, 0.1)
}
/* -------------------- */

.contenedor-info_pagos {
    width: 74%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}
.copyright {
    font-size: 14px;
    display: flex;
    justify-content: start;
}

/* ------------------------------------------- */

/* ------------------ RESPONSIVE ------------------- */

@media (max-width: 768px) {
  .promo {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
.promo p {
    width: 90%;
    font-size: 13px;
    color: #fff;
}
.promo span {
    display: none;
}
/* ----------------- ESTILO HEADER CON NAV LIST ---------------------- */
.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
    .header .navbar {
        width: 90%;
        display: flex;
        align-items: center;
    }
.header .navbar .hamburger {
    width: 50px;
    height: 40px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}
.header .navbar .hamburger span {
    border: 1px solid #000;
    width: 35px;
    height: 5px;
    margin-bottom: 2px;
    display: inline-block;
    flex-direction: column;
    display: flex;
    margin-bottom: 3px;
    background-color: #000;
}
.nav-list li {
    display: none;
}
.nav-list img {
    margin-right: 2rem;
    transition: 1.2s ease;
}
.search {
    display: none;
}
.search input {
    display: none;
}
.cart-user {
    width: 20rem;
    height: 4rem;
    display: flex;
    justify-content: start;
    align-items: center;
}
.cart-user .lupa {
    display: flex;
}
.cart-user img {
    margin-right: 0;
}
.separador-productos {
    width: 90%;
    height: 0.5px;
    margin-top: 7rem;
    margin: 0 auto;
    background-color: #d3d2d246;
}
main {
    flex-direction: column;
    display: flex;
}
.contenedor-portada {
    width: 100%;
    height: 66rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F0F1;
    flex-direction: column;
}
.contenedor-portada_izquierda {
        width: 100%;
        /* margin: 0 auto; */
        flex-direction: column;
        margin-top: 44rem;
    }
    .contenedor-portada_izquierda .portada-izquierda_img {
    width: 330px;
    /* margin: 0 0 2.5rem 12rem; */
    /* margin: auto; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-left: 2rem;
}
.contenedor-portada_izquierda p {
    font-size: 16px;
    /* margin: 0 0 2.5rem 12rem; */
    width: 90%;
    text-align: justify;
    margin: auto;
}
.contenedor-portada_izquierda a {
  width: 90%;
  height: 40px;
  background-color: #000;
  color: #fff;
  border-radius: 22px;
  font-size: 16px;
  /* text-align: center; */
  margin: 2rem 0;
  /* list-style: none; */
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  }
  .contenedor-valores {
        width: 90%;
        display: flex;
        /* justify-content: flex-start; */
        /* align-items: center; */
        align-content: center;
        /* flex-direction: column; */
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
    }
    .valores {
        width: 49%;
        height: 8rem;
        display: flex;
        justify-content: start;
        align-items: start;
        margin-left: 0;
        /* margin: 0 auto; */
        flex-direction: column;
        margin-right: 0.2rem;
    }
    .valores img {
      width: 80px;
      margin-left: 3rem;
    }
    .contenedor-valores .separador {
    display: none;
}
.contenedor-portada_derecha {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-portada_derecha img {
    width: 100%;
}
.contenedor-portada_derecha .img-estrella_derecha {
    width: 50px;
    position: absolute;
    top: 772px;
    right: 317px;
}
.contenedor-portada_derecha .img-estrella-med_derecha {
    width: 90px;
    position: absolute;
    top: 600px;
    right: 30px;
}
.contenedor-marcas {
    width: 100%;
    height: 12.2rem;
    gap: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    margin-top: 30rem;
    flex-wrap: wrap;
}
.contenedor-marcas .marca img {
    width: 13rem;
}
.contenedor-marcas .marcaS img {
    width: 7rem;
    margin-right: 1rem;
}
.marca {
  width: 30%;
  margin-right: 3rem;
}
.contenedor-productos {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
}
.contenedor-productos h1 {
    font-size: 3.4rem;
    font-weight: bold;
    margin: 4rem 0;
    padding-top: 3rem;
}
.contenedor-cards_arrivals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 3rem;
}
.contenedor-card {
    text-align: left;
    margin-bottom: 0rem;
}
.imagen-producto {
    width: 180px;
    background: #F0F0F0;
    border-radius: 16px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.imagen-producto img {
    width: 230px;
    height: 230px;
}
.btn-arrivals {
    width: 100%;
    height: 50px;
    color: #000;
    border-radius: 30px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    border: 1px solid #8080804d;
    margin-bottom: 4rem;
}
.contenedor-items {
    width: 95%;
    height: 1000px;
    margin: 0 auto;
    background-color: rgba(240, 240, 240, 1);
    border-radius: 4rem;
}
.contenedor-estilo h1 {
    font-size: 3.8rem;
    text-align: center;
    margin: 1rem;
    padding-top: 4rem;
}
.contenedor-estilo_arriba , .contenedor-estilo_abajo {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.item-arriba_izquierdo, .item-abajo_izquierdo {
  width: 90%;
}
.item-arriba_derecha, .item-abajo_derecha {
  width: 90%;
}
.item-arriba_izquierdo img {
  width: 100%;
  margin-bottom: 1rem;
}
.item-arriba_derecha img {
  width: 100%;
}
.item-abajo_izquierdo img {
  width: 100%;
  margin-bottom: 1rem;
}
.item-abajo_derecha img {
  width: 100%;
}
.contenedor-titulo_icon {
    width: 90%;
    height: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 3rem;
}
.contenedor-titulo_icon .titulo img {
  width: 315px;
}
.contenedor-card_customers {
    width: 100%;
    height: 25rem;
    display: flex;
    flex-wrap: nowrap;
    gap: 3rem;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 2rem;
}
.contenedor-noticias {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto 0px;
        padding: 4px 6px;
        background-color: #000;
        border-radius: 20px;
        display: flex;
        /* align-items: center; */
        /* justify-content: space-between; */
        gap: 20px;
        position: relative;
        top: 0;
        flex-direction: column;
    }
    .contenedor-titulo {
    max-width: 480px;
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
    padding-top: 1rem;
}
.contenedor-input_email {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #fff;
    padding: 14px 18px;
    border-radius: 999px;
    width: 300px;
    margin: auto;
}
.contenedor-input_noticias button {
    padding: 14px 18px;
    border-radius: 999px;
    border: none;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 300px;
    margin: auto;
    margin-bottom: 1rem;
}
.contenedor-principal_footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(240, 240, 240, 1);
    margin-top: 0;
}
.contenedor-info_footer {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    flex-direction: column;
}
.contenedor-info_pagos {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    flex-direction: column;
}
.copyright {
    font-size: 14px;
    display: flex;
    justify-content: start;
    margin-bottom: 1rem;
}

.column {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
.column .info_1 {
        width: 45%;
    }
    .info_1 p {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    color: rgba(0, 0, 0, 0.6);
}
.info_1 h2 {
    font-size: 1.6rem;
    text-align: start;
    margin-bottom: 2rem;
    color: rgba(0, 0, 0, 1);
}
}